<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading
			       text-muted">
                      Download R&eacute;sum&eacute;:&nbsp;
		      <a href="{{ "/IzaakBeekmanResume.pdf" | prepend: site.baseurl }}">
			<i class="fa fa-file-pdf-o fa-lg"></i>
		      </a>&nbsp;&nbsp;
		      <a href="{{ "/IzaakBeekmanResume.docx" | prepend: site.baseurl }}">
			<i class="fa fa-file-word-o fa-lg"></i>
		    </a></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <ul class="timeline">
		    {% for item in site.data.experience %}
                    {% cycle '<li>','<li class="timeline-inverted">' %}
                      <div class="timeline-image">
                        <a href="{{ item.link | uri_escape }}">
			  <img class="img-circle img-responsive"
			       src="{{ item.img | prepend: site.basurl }}"
			       alt="{{ item.img_alt }}">
			</a>
                      </div>
                      <div class="timeline-panel">
                        <div class="timeline-heading">
                          <h4>{{ item.institution }}
			  </h4>
                          <h4 class="subheading">{{ item.title }}</h4>
                        </div>
                        <div class="timeline-body">
                          <p class="text-muted">{{ item.description }}</p>
                        </div>
                      </div>
                    </li>
		    {% endfor %}
		    {% cycle '<li>','<li class="timeline-inverted">' %}
		      <div class="timeline-image">
			<h4>U.S. Citizen<br/>
			  Clearance Ready</h4>
		      </div>
		    </li>
                  </ul>
                </div>
            </div>
        </div>
    </section>
