<head>
    {% if site.enforce_ssl %}
    <!--
      redirect users to the https version of the website.
      but: only check when on the production domain, as set in _config.yml.
    -->
      <script type="text/javascript">
        var enforce = "{{ site.enforce_ssl }}";
        if ((enforce == window.location.host) && (window.location.protocol != "https:"))
          window.location = window.location.toString().replace(/^http:/, "https:");
      </script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,
				   maximum-scale=1">

    <!-- Twitter -->
    <meta name="twitter:site" content="@zbeekman">
    <meta name="twitter:creator" content="@zbeekman">

    <!-- Google SEO -->
    <link rel="author" href="https://plus.google.com/+ZaakBeekman"/>

    <!-- Google apps for work email setup -->
    <meta name="google-site-verification"
	  content="mAbnBmVb9saaf1YudWqyN5qAZ5oVeW7CAc4wZSqrbms" />

    <style>
      {% capture css %}
      {% include css/bootstrap.min.css %}
      {% include css/agency.css %}
      {% include css/font-awesome.css %}
      {% endcapture %}{{ css | scssify | strip_newlines | replace:'	','' | replace:'    ','' | replace:'  ',' ' }}
    </style>

    <!-- Custom favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <noscript>
      <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">
    </noscript>

    <!-- Custom Fonts, but load these after  -->
    <!-- Moved to _include/css -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
