<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Google apps for work email setup -->
    <meta name="google-site-verification"
	  content="mAbnBmVb9saaf1YudWqyN5qAZ5oVeW7CAc4wZSqrbms" />

    <!-- Custom favicon -->
    <link rel="shortcut icon" href="{{ "/favicon.ico"?v=2 | prepend: site.baseurl }}" type="image/x-icon">
    <link rel="icon" href="{{ "/favicon.ico"?v=2 | prepend: site.baseurl }}" type="image/x-icon">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts, but load these after  -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
