 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/js/cbpAnimatedHeader.min.js" | prepend: site.baseurl }}"></script>

    <!-- Contact Form JavaScript -->
    <script async src="{{ "/js/jqBootstrapValidation.min.js" | prepend: site.baseurl }}"></script>
    <script async src="{{ "/js/contact_me.min.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script async src="{{ "/js/agency.min.js" | prepend: site.baseurl }}"></script>
